{% block footer %}
<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">A modern company which has a website hosted on AWS.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright by Garry Harthill
        </div>
    </div>
</footer>
<script type="text/javascript" src="static/js/materialize.min.js"></script>
{% endblock %}